.radio-button {
  border-color: #1d5755 !important;
  background-color: #1d5755 !important;
}

.radio-button:hover {
  border-color: #1d5755 !important;
}

input[type="radio"]:after {
  background-color: #1d5755 !important;
}

.change-buttons-hovera :hover {
  text-decoration: dashed !important;
}
